<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/custom.min.css" />
    <script src="./javascripts/navbar.js"></script>
  </head>
  <body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><%= title %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="share">Share</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="search">Search</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="question">Question</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a href="/login" class="btn btn-secondary my-2 my-sm-0">Login</a>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container col-md-8 col-md-offset-2">
        <form action="/ask" method="post">
            <legend>Ask Question</legend>
            <div class="form-group row">
                <input type="text" name="title" placeholder="TITLE (less than 30 words)" class="form-control">
            </div>
            <div class="form-group row">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="25" style="resize: none;" placeholder="Content (more than 10 words)"></textarea>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-outline-primary col-sm-12">Ask Your Question</button>
            </div>
        </form>
    </div>
  </div>
  <%- include footer.ejs %>
  </body>
</html>
