<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/custom.min.css" />
    <script src="./javascripts/navbar.js"></script>
  </head>
  <body>
  <%- include('navbar.ejs', {active: 'question'}) %>
  <div class="container">
    <div class="container col-md-8 col-md-offset-2">
        <form action="/ask" method="post">
            <legend>Ask Question</legend>
            <div class="form-group row">
              <select name="identity" class="form-control">
                <option value="-">發文身份</option>
                <option value="department">系所</option>
                <option value="nickname">暱稱</option>
                <option value="anonymous">匿名</option>
              </select>
            </div>
            <div class="form-group row">
                <input type="text" name="title" placeholder="TITLE (less than 30 words)" class="form-control">
            </div>
            <div class="form-group row">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="25" style="resize: none;" placeholder="Content (more than 10 words)"></textarea>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-outline-primary col-sm-12">Ask Your Question</button>
            </div>
        </form>
    </div>
  </div>
  <%- include footer.ejs %>
  </body>
</html>
