<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<footer class="footer">
    <div class="container text-center">
        <a href="https://www.facebook.com/nsysu.class.eye"><i class="fab fa-facebook-square fa-2x align-middle"></i></a>
    </div>
</footer>