<!DOCTYPE html>
<html>
  <head>
		<title><%= title %></title>
		<link rel="icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/custom.min.css" />
		<script src="./javascripts/navbar.js"></script>
		<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
		<script>
			$(() => {
				$('#btn').click(function(e) {
					e.preventDefault();
					$.ajax({
						type: 'POST',
						data: $("form").serialize(),
						url: '/login',
						success: function(data) {
							if (data.status == 200) {
								localStorage.setItem('x-access-token', JSON.parse(data.body).token);
								alert('登入成功！');
								location.href = "/";
							} else {
								var error = JSON.parse(data.body).err.status;
								if (error == 1) {
									alert("登入失敗！請檢查學號或密碼！");
								} else if (error == 2) {
									alert("伺服器錯誤qq");
								}
							}
						}
					})
				})
			});
		</script>
  </head>
  <body>
	<%- include('navbar.ejs', {active: ''}) %>
	<div class="container">
	    <div class="container col-md-6 col-md-offset-2">
	        <form action="/login" method="post">
	        	<legend>Login</legend>
	            <div class="form-group has-error">
	                <label for="exampleInputEmail1 inputError">Email</label>
	                <div class="input-group mb-3">
		            	<input type="text" class="form-control" name="email" id="exampleInputEmail1 inputError" placeholder="Email address">
		                <span class="input-group-text" id="basic-addon2">@student.nsysu.edu.tw</span>	                	
	                </div>
	            </div>
	            <div class="form-group has-warning">
	                <label for="exampleInputPassword1 inputWarning">Password</label>
	                <input type="password" class="form-control" name="password" id="exampleInputPassword1 inputWarning" placeholder="************">
							</div>
							<div class="text-right">
								<button type="submit" class="btn btn-outline-primary" id="btn">Login</button>
								<a href="/register" class="btn btn-outline-secondary">Register</a>	
							</div>
					</form>
	    </div>
	</div>
	<%- include footer.ejs %>
  </body>
</html>
