<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script>
    window.onload = () => {
        if (localStorage['x-access-token']) {
            token = localStorage['x-access-token'];
            document.getElementsByTagName('form')[0].innerHTML = `
                <a href="/profile" class="btn btn-secondary my-2 my-sm-0">Profile</a>
                <input type="button" class="btn btn-primary my-2 my-sm-0" onclick='logout()' value="Logout">`
        } else {
            document.getElementsByTagName('form')[0].innerHTML = '<a href="/login" class="btn btn-secondary my-2 my-sm-0">Login</a>';
        }
    }
    var logout = () => {
        $.ajax({
            url: '/logout',
            method: 'get',
            success: function(data) {
                token = null;
                if (data.status == 403) {
                    alert('使用者狀態錯誤');
                } else if (data.status == 400) {
                    alert('您過久未進行操作，已自動將您登出');
                } else {
                    alert('登出成功！');
                }
                location.href = '/';
            }, error: function(err) {
                token = null;
                location.href = '/';
            }
        });
    }
</script>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><%= title %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <% if (active == 'index') { %> active <% } %>">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item <% if (active == 'share') { %> active <% } %>">
            <a class="nav-link" href="share">Share</a>
            </li>
            <li class="nav-item <% if (active == 'search') { %> active <% } %>">
            <a class="nav-link" href="search">Search</a>
            </li>
            <li class="nav-item <% if (active == 'question') { %> active <% } %>">
            <a class="nav-link" href="question">Question</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">

        </form>
        </div>
    </div>
</div>