<!DOCTYPE html>
<html>
  <head>
		<title><%= title %></title>
		<link rel="icon" href="/images/favicon.png">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/custom.min.css" />
    <script src="./javascripts/navbar.js"></script>
  </head>
  <body>
		<%- include('navbar.ejs', {active: 'question'}) %>
		<div class="container">
			<div class="container col-md-10 col-md-offset-1">
				<div class="d-flex">
					<a href="/ask" class="btn btn-outline-secondary">發問</a>
					<form class="form-inline ml-auto" action="/question" method="post">
						<input class="form-control mr-sm-2" type="text" placeholder="Search">
						<button class="btn btn-outline-primary" type="submit">Search</button>
					</form>
				</div>
				<% for(var i=0; i<10; i++) { %>
					<div class="card row-margin-top">
						<div class="card-body">
							<h3 class="card-title">問題標題</h3>
							<p class="card-text"><% for(var j=0; j<50; j++) { %>ㄦ<% } %>...</p>
							<div class="d-flex">
								<div>
									<img src="./images/like.png" /> 123
									<img src="./images/dislike.png" /> 456
									<img src="./images/message.png"> 8
								</div>
									<a href="#" class="btn btn-primary btn-sm ml-auto">點我看更多</a>
								</div>
						</div>
					</div>
				<% } %>
			</div>
		</div>
		<%- include footer.ejs %>
  </body>
</html>
